.WorkoutFields {
    font-size: 1.5em;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-top: 200px
}

.link {
    text-decoration: none;
}


.LogAnActivityButton {
    padding: 0.5em;
    display: block;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 1em;
    width: 150px;
    margin-top: 10px;
    background-color: red;
    color: white;
    font-weight: 800;
    font-size: 15px;
}


.Activity {
    background-color: white;
    margin-top: 20px;
    /* Add properties below */
    width: 450px;
    overflow: auto;
    border: 4px solid #AAAAAA;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #888888;

}

.User{
    display: inline;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 24px;
}

.ProfilePicture {
    width: 60px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
    display: inline;
    
}

.ActivityPicture {
    /* Add properties below */
    /* margin-left: 80px; */
    max-width: 500px;
    max-height: 200px;
    padding-top: 10px;
    padding-left: 20px;
    /*float: left*/
    
}

.ActivityContent {
    margin: 0px;
    /* Add properties below */
    width: 420px;
    margin-left: 20px;
    padding-bottom: 10px;
    
}